body {
  line-height: 1.6;
  font-family: "Luxurious Roman", sans-serif;
  background: linear-gradient(#000101, #3a3a3a, black);
  color: white;
  margin: 0;
  padding: 0; }

@keyframes rotate {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }

@keyframes scaleUp {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.05); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.poem, .extend-card, .extend-card2 {
  text-align: center;
  font-style: italic;
  background-color: darkgrey;
  margin: 8px;
  margin-top: 8px;
  border-radius: 12px;
  height: auto;
  width: 280px;
  transition: transform 0.6s ease, box-shadow 0.3s ease;
  animation: fadeIn 0.6s ease-out; }
  .poem:hover, .extend-card:hover, .extend-card2:hover {
    animation: scaleUp 0.3s ease-out forwards;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    animation: rotate 1s linear; }
  .poem p, .extend-card p, .extend-card2 p {
    text-align: justify;
    line-height: 1.6;
    margin: 10px 40px;
    text-overflow: ellipsis;
    font-size: 14px; }
  .poem img, .extend-card img, .extend-card2 img {
    width: 100%;
    max-height: 150px;
    object-fit: cover; }

form {
  max-width: 500px;
  margin: 200px auto;
  background: linear-gradient(#D9D9D9, #FFFFFF, #D9D9D9, #000000);
  padding: 50px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
  form .form-group {
    margin-bottom: 20px; }
  form label {
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
    color: #000000; }
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px; }
  form textarea {
    height: 150px;
    resize: vertical; }
  form button {
    background-color: #132AA4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; }
    form button:hover {
      background-color: #0F2061; }

.footer-bottom {
  background: #111;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #333; }
  .footer-bottom p {
    margin: 0; }

header {
  position: relative;
  overflow: hidden;
  height: 100vh; }
  header h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
    background-color: transparent;
    padding: 20px;
    margin: 0; }
  header .imagen-bugatti {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -25px;
    margin-top: 20px;
    object-fit: cover; }
  header .vista-mobile {
    display: none;
    width: 100%;
    height: 100vh;
    object-fit: cover; }

.navbar-mobile {
  display: none;
  position: fixed;
  top: 12px;
  left: 12px;
  z-index: 99999; }
  .navbar-mobile summary {
    cursor: pointer;
    padding: 8px 12px;
    background-color: #4862EA;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid #132AA4;
    transition: background-color 0.3s, border 0.3s;
    list-style: none; }
    .navbar-mobile summary i {
      font-size: 1.5em; }
    .navbar-mobile summary:hover {
      background-color: #132AA4;
      border: 1px solid #4862EA; }
    .navbar-mobile summary ::-webkit-details-marker {
      display: none; }
    .navbar-mobile summary ::marker {
      display: none; }
  .navbar-mobile nav {
    padding: 10px 0;
    background: linear-gradient(#4873ea, #2e41cc, #134fa4);
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    z-index: 10; }
    .navbar-mobile nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .navbar-mobile nav ul li {
        margin-bottom: 10px; }
        .navbar-mobile nav ul li a {
          text-decoration: none;
          color: white;
          padding: 10px;
          display: block;
          border-radius: 4px;
          border-color: black;
          transition: background-color 0.3s; }
          .navbar-mobile nav ul li a:hover {
            background-color: #132AA4; }
  .navbar-mobile[open] summary {
    background-color: #132AA4; }
  .navbar-mobile[open] nav {
    display: block;
    width: 300px;
    transform: translateX(0); }

.navbar-desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(2, 55, 101, 0.8);
  z-index: 20;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
  .navbar-desktop ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 10px 0; }
    .navbar-desktop ul li {
      margin-right: 10px; }
      .navbar-desktop ul li a {
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
        transition: background-color 0.3s; }
        .navbar-desktop ul li a:hover, .navbar-desktop ul li a.active {
          background-color: #132AA4; }

.header2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  padding-top: 60px;
  background: linear-gradient(#4873ea, #2e41cc, #134fa4);
  box-shadow: 2px 2px 4px rgba(0, 195, 255, 0.8); }
  .header2 h1 {
    position: relative;
    font-size: 2.5em;
    color: white;
    margin: 60px 0 0 0;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 4px 4px 8px rgba(0, 0, 0, 0.6); }

main {
  padding-top: 60px; }
  main .cuadro {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center; }
    main .cuadro .imagenes {
      flex: 1 1 calc(33.333% - 20px);
      max-width: calc(33.333% - 20px);
      position: relative;
      border-radius: 8px;
      overflow: hidden; }
    main .cuadro img {
      width: 100%;
      height: auto;
      display: block; }

.footer {
  background: linear-gradient(#4873ea, #2e41cc, #134fa4);
  color: white;
  padding: 20px 0;
  font-size: 14px;
  box-shadow: 0px 0px 8px rgba(0, 195, 255, 0.8); }
  .footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px; }
    .footer .footer-container .footer-column {
      min-width: 150px;
      margin: 0px 10px; }
      .footer .footer-container .footer-column h3 {
        margin-bottom: 10px;
        font-size: 16px; }
      .footer .footer-container .footer-column p,
      .footer .footer-container .footer-column a {
        margin-bottom: 5px; }
    .footer .footer-container .redes-sociales {
      display: flex;
      flex-direction: column;
      gap: 5px; }
      .footer .footer-container .redes-sociales a {
        display: flex;
        align-items: center;
        color: white;
        font-size: 20px;
        text-decoration: none;
        padding: 5px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.5);
        transition: background-color 0.3s; }
        .footer .footer-container .redes-sociales a .fa {
          margin-right: 16px; }
        .footer .footer-container .redes-sociales a:hover {
          background-color: #444; }

@media (max-width: 768px) {
  header h1 {
    font-size: 3em;
    padding: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 4px 4px 8px rgba(0, 0, 0, 0.6); }
  header .imagen-bugatti {
    display: none; }
  header .vista-mobile {
    display: block; }
  header .navbar-mobile {
    display: block; }
    header .navbar-mobile summary {
      font-size: 1em; }
      header .navbar-mobile summary i {
        font-size: 1.2em; }
  header .navbar-desktop {
    display: none; }
  .footer .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .footer .footer-column {
    min-width: 100%;
    margin: 10px 0; } }

@media (max-width: 480px) {
  header h1 {
    font-size: 2em;
    padding: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), 2px 2px 4px rgba(0, 0, 0, 0.6); }
  header .imagen-bugatti {
    display: none; }
  header .vista-mobile {
    display: block;
    width: 90vh;
    height: 100vh;
    object-fit: cover; }
  header .navbar-mobile {
    display: block; }
  header .navbar-desktop {
    display: none; }
  main .cuadro {
    grid-template-columns: 1fr;
    padding: 20px; }
  section {
    padding: 0;
    margin-top: 0; }
  .footer-pie {
    max-width: 200px;
    margin: 0 auto;
    text-align: center; } }

@media (max-width: 320px) {
  header details summary {
    font-size: 0.8em;
    padding: 8px; }
  header details summary i {
    font-size: 1em; }
  header nav {
    width: 35vh;
    height: 90vh;
    left: 0;
    top: 100%; }
  header nav ul li a {
    padding: 8px 10px;
    font-size: 14px;
    margin: 10px 0; }
  header h1 {
    font-size: 2em;
    padding: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), 2px 2px 4px rgba(0, 0, 0, 0.6);
    top: 40%; }
  .imagen-bugatti {
    display: none; }
  header details[open] nav {
    width: 35vh; }
  .navbar-mobile {
    display: block; }
  .navbar-desktop {
    display: none; } }

header h1, .footer .footer-container .footer-column p,
.footer .footer-container .footer-column a {
  color: white;
  text-decoration: none; }

header h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 4px 4px 8px rgba(0, 0, 0, 0.6); }

.extend-card {
  background: linear-gradient(#4873ea, #2e41cc, #134fa4);
  margin: 150px 100px;
  display: flex;
  justify-content: center;
  flex-direction: wrap;
  height: auto;
  box-shadow: 4px 20px 20px #037abf; }

.extend-card2 {
  background: linear-gradient(#00e5ff, #004e62);
  margin: 150px 100px;
  display: flex;
  justify-content: center;
  flex-direction: wrap;
  box-shadow: 4px 20px 20px #037abf; }
