@import "./base/variables";

@import "./base/reset";

@import "./base/fuentes";

@import "./components/forms";

@import "./components/button";

@import "./layout/header";

@import "./layout/main";

@import "./layout/footer";

@import "./layout/media/media768";

@import "./layout/media/media480";

@import "./layout/media/media320";

%text-base {
    color: white;
    text-decoration: none;
}

%text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 4px 4px 8px rgba(0, 0, 0, 0.6);
}

.extend-card {
    @extend .poem;
    background: $footer-gradient;
    margin: 150px 100px;
    display: flex;
    justify-content: center;
    flex-direction: wrap;
    height: auto;
    box-shadow: $box-shadow-card
}

.extend-card2{
    @extend .poem;
    background:$footer-gradient;
    margin: 150px 100px;
    display: flex;
    justify-content: center;
    flex-direction: wrap;
    box-shadow: $box-shadow-card
}