@keyframes rotate {
    0% {
    transform: rotateY(0deg);
}

    100% {
    transform: rotateY(360deg);
    }
}

@keyframes scaleUp {
    0% {
    transform: scale(1);
    }
    100% {
    transform: scale(1.05);
    }
}

@keyframes fadeIn {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

.poem {
    text-align: center;
    font-style: italic;
    background-color: darkgrey;
    margin: 8px;
    margin-top: 8px;
    border-radius: 12px;
    height: auto;
    width: 280px;
    transition: transform 0.6s ease, box-shadow 0.3s ease;
    animation: fadeIn 0.6s ease-out;

    &:hover {
    animation: scaleUp 0.3s ease-out forwards;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    animation: rotate 1s linear;
}

p {
    text-align: justify;
    line-height: 1.6;
    margin: 10px 40px;
    text-overflow: ellipsis;
    font-size: 14px;
}

img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
}
}

