body {
    line-height: 1.6;
    font-family: $font-family;
    background:linear-gradient(rgb(0, 1, 1),rgb(58, 58, 58),black);
    color: $text-color;
    margin: 0;
    padding: 0;
    background-image: url(https://img.freepik.com/foto-gratis/hermosa-joven-esta-hablando-guapo-mecanico-mientras-repara-automovil-concesionario_146671-13565.jpg?t=st=1725196664~exp=1725200264~hmac=543c17a797be2eb4f76f38fbcfd012a8c70851fdd0b915d68caad7a7bc288ae0&w=1380) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}