$font-family: 'Luxurious Roman', sans-serif;
$background-color:black;
$text-color: white;
$highlight-color: #132AA4;
$highlight-hover-color: #0F2061;
$border-color: #4862EA;
$border-hover-color: #132AA4;
$shadow-color: rgba(0, 0, 0, 0.5);
$footer-gradient: linear-gradient(#4873ea,rgb(46, 65, 204), #134fa4);
$color-primary: #132AA4;
$color-secondary: #4862EA;
$color-dark: #000000;
$color-light: #D9D9D9;
$color-white: #FFFFFF;
$box-shadow-card: 4px 20px 20px rgb(3, 122, 191);
